<article class="one-article">
  <Image />
  <div class="details">
    <h3>Title</h3>
    <div class="detail author">
      <span>Author:</span> John Smith
    </div>
    <div class="detail type">
      <span>Type:</span> Art
    </div>
    <div class="detail lead">
      <span>Lead:</span> Sample text...
    </div>
    <div class="detail etcetera">
      <span>Etcetera:</span> ...
    </div>
  </div>
</article>