<div class="jumbo">
  <div class="right nyt-dev-logo"></div>
  <h2>About NYT Auction</h2>
  <p>
    This website is a proof-of-concept application that simulates the buying and selling of NFTs (non-fungible tokens) made from NYT articles.
  </p>
  <LinkTo @route="index" class="button">Home</LinkTo>
</div>