<Banner>
  <h2> NYT Articles</h2>
</Banner>
  <div class="articles">
  <ul class="results">
    {{#each @model as |article-card|}}
      <li>
        <LinkTo @route="detail" @model={{@article-card}}>
          <ArticleCard @article-card={{article-card}}/>
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>
