<Banner>
  <h2> NYT Articles</h2>
</Banner>
  <div class="articles">
  <ul class="results">
    <li><ArticleCard @article-card={{@model}}/></li>
    <li><ArticleCard /></li>
    <li><ArticleCard /></li>
  </ul>
</div>
