<Banner>
  <h2> NYT Articles</h2>
</Banner>
  <div class="articles">
  <ul class="results">
    {{#each @model as |article-card|}}
      <li><ArticleCard @article-card={{article-card}}/></li>
    {{/each}}
  </ul>
</div>
